<div class="container">
    <h1>Period Calculator</h1>
    <input type="time" [(ngModel)]="inputTime">
    <button (click)="calculatePeriods()">Calculate</button>
    <table>
        <thead>
        <tr>
            <th class="non-copyable">Period</th>
            <th>Work Time</th>
            <th>Break Time</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let period of periods">
            <td class="non-copyable">{{ period.period }}</td>
            <td>{{ period.workTime }}</td>
            <td>{{ period.breakTime }}</td>
        </tr>
        </tbody>
    </table>
</div>


<router-outlet></router-outlet>
